#pinContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.pin-section{
    height: 90vh;
    position: relative;
    z-index: 8888;

}

.panel {
    height: 100%;
    width: 100%;
    position: absolute;
}

.grafica-content1{
    margin-top: -5%;
}

.grafica-content2{
    margin-top: -9%;
}

.grafica-content1, .grafica-content2, .grafica-content3{
    background-color: white;
}

.grafica-full{
    &__title{
        font-family: 'PlayfairDisplay-Bold';
        color: $blue3;
        font-size: 3.5em;
    }

    &__description{
        font-family: "Lato-Regular";
        color: #0B2131;
        font-size: 20px;
    }
}

.grafica{


    &__subtitle{
        font-family: 'Lato-Regular';
        color: $blue;
        font-size: 1.3em;
    }

    &__title{
        z-index: 99999999;
        position: absolute;
        height: 60%;
        width: 30%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        font-family: 'PlayfairDisplay-Bold';
        color: $blue3;
        font-size: 3.5em;
    }

    &__chart{
        margin-top: 6%;
        z-index: 99999999;
        position: absolute;
        height: 92%;
        width: 60%;
        left: 47%;
    }

    &__content{
        width: 35%;
        margin-left: 7%;
        font-family: "Lato-Regular";
        color: #0B2131;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        height: 114%;
        justify-content: center;
        align-items: center;
    }


}

.grafica .scrollmagic-pin-spacer{

}

/******************************************************************************
**  responsive
*********************************************************************************
*/


@media (min-width: 1920px) {

    .grafica-full{
        &__title{
            font-family: 'PlayfairDisplay-Bold';
            color: $blue3;
            font-size: 3.5em;
        }

        &__description{
            font-family: "Lato-Regular";
            color: #0B2131;
            font-size: 20px;
        }
    }

}

@include media-breakpoint-down(md) {
    .grafica-content2 {
        margin-top: -20%;
    }
    .grafica{
        &__chart{
            width: 100%;
            left: 0px;
        }
        &__title{
            margin-top: 20px;
            font-size: 3em;
            width: 100%;
        }
        &__content{
            width: 100%;
            font-size: 20px;
            height: 90%;
            margin-left:0px;
            padding: 0px 20px;
        }
    }
}


// Small devices (landscape phones, 576px and up)
@include media-breakpoint-down(sm){
    .grafica-full{
        display: none;
    }
    .grafica-content1{
        margin-top: 0%;
    }

    .grafica-content2{
        margin-top: -15%;
    }


    .grafica{
        &__chart{
            width: 100%;
            left: 0px;
        }
        &__title{
            font-size: 2em;
            width: 100%;
        }
        &__content{
            width: 100%;
            font-size: 1em;
            height: 90%;
            margin-left:0px;
            padding: 0px 20px;
        }
    }
}
