.nosotros{
    img{
        cursor: pointer;
    }
    &__hero-movil{
        display: none;
    }
    &__hero{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100vh;
        align-items: center;
        &__left{
           background: url("/img/nosotros/Imagen_nosotros.png");
            background-size: cover;
            width: 60%;
            height: 100vh;
        }
        &__right{
            width: 40%;
            &__title{
                font-family: 'Lato-Black';
                color: $yellow-menu;
                font-size: 5em;
            }
            &__description{
                font-family: 'PlayfairDisplay-Regular';
                color: $blue3;
                font-size: 1.3em;
                text-align: center;
                width: 80%;
            }
        }

    }
    &__seccion2{
        background: url("/img/nosotros/Fondo.png") no-repeat;
        width: 100%;
        height: 100vh;
        &__hero{
            background: url("/img/nosotros/Oso.png") center;
            margin-top: 5%;
            background-size: cover;
            width: 100%;
            height: 80vh;
            position: absolute;
        }
        &__content-description{
            position: absolute;
            width: 100%;
            bottom: 18px;
            display: flex;
            justify-content: center;
        }
        &__marker{
            font-family: 'PlayfairDisplay-Bold';
            color:$yellow-menu;
        }
        &__description{
            font-family: 'Lato-Regular';
            color: white;
            font-size: 2em;
            width: 40%;
            text-align: center;

        }

    }

    &__seccion3{

        &__title{
            font-family: 'PlayfairDisplay-Bold';
            color: $yellow-menu;
            font-size: 2em;
            text-align: center;
        }
        &__subtitle{
            font-family: 'Lato-Bold';
            color:$blue3;
            text-align: center;

        }
        &__subtitle2{
            font-family: 'Lato-Regular';
            color:$blue3;
            text-align: center;

        }
        &__content-text{
            height: 85px;
        }
    }

    &__grafica2{
        height: 60vh;
        background-color: $yellow3;
        position: relative;
        &__image{
            width: 100%;
            position: absolute;

        }
        &__title{
            font-family: 'PlayfairDisplay-Regular';
            color: white;
            font-size: 4em;
            padding-top: 25px;
            margin-left: 10%;
        }
        &__subtitle{
            font-size: 2em;
            font-family: 'PlayfairDisplay-Regular';
            color: $blue3;
            margin-left: 14%;
        }
    }
}


/******************************************************************************
**  responsive
*********************************************************************************
*/
/* 1920*/

/*@media (max-width: 1920px) {*/
@include media-breakpoint-down(lg) {

}


//tablets
/*@media (max-width: 768px) {*/
@include media-breakpoint-down(md) {
    .nosotros{
        &__hero{
            &__left{
                width: 100%;
                position: absolute;
                height: 100vh;
            }
            &__right{
                justify-content: center;
                text-align: center;
                width: 100%;
                position: absolute;
                display: flex;
                flex-direction: column;
                &__title{
                    text-align: center;
                    width: 100%;
                    font-size: 4em;
                }
                &__description{
                    text-align: center;
                    width: 100%;
                    color: white;
                    font-size: 2em;
                    text-shadow: 1px 1px $gray;
                    padding: 0px 20px;
                }
            }
        }

        &__seccion2{
            height: 40vh;
            &__hero{
                margin-top: 8%;
                height: 34vh;
            }
            &__description{
                width: 66%;
            }
        }

        &__seccion3{
            &__content-text{
                height: 85px;
                font-size: 12px;
            }
        }

        &__grafica2{
            height: 29vh;
            &__image {
                margin-top: 10%;
            }
        }
    }


}


//celular
@include media-breakpoint-down(sm){
    .nosotros{
        &__hero-movil{
            display: block;
        }
        &__hero{
            display: none;
            &__left{
                background: url("/img/nosotros/Imagen_nosotros_414.png") center;
                background-size: cover;
                width: 100%;
            }
            &__right{
                &__title{
                    font-size: 3em;
                }
                &__description{
                    font-size: 1.2em;
                    color: $blue;
                    padding: 0px;
                    text-shadow: none;
                }
            }
        }
        &__seccion2{
            height: 32vh;
            &__hero{
                margin-top: 8%;
                height: 27vh;
            }
            &__description{
                font-size: 1.2em;
            }
        }
        &__grafica2{
            height: 30vh;
            display: flex;
            justify-content: center;
            flex-direction: column;
            &__image{
                display: none;
            }
            &__title{
                font-size: 1.2em;
                margin-left: 0px;
                text-align: center;
            }
            &__subtitle{
                margin-left: 0;
                text-align: center;
                font-size: 2em;
                margin-top: -4px !important;
            }

        }
    }
}
