.thankyou{
    min-height: 100vh;
    display: flex;
    align-items: center;
    &__content{
        background-color: $blue;
        min-height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__title{
        font-family: 'Lato-Regular';
        color: $yellow-menu;
        font-size: 3em;
    }
    &__subtitle{
        font-family: 'Lato-Black';
        color: $yellow-menu;
        font-size: 3em;
        margin-top: -15px;
    }

    &__text{
        font-family: 'PlayfairDisplay-Regular';
        color: white;
    }
}



/******************************************************************************
**  responsive
*********************************************************************************
*/


@media (min-width: 1920px) {

}

@include media-breakpoint-down(md) {

}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-down(sm){
    .thankyou{
        display: block;
        min-height: auto;
        &__subtitle{
            line-height: 50px;
        }
    }
}
